spring:
  application:
    name: storage-manager

  datasource:
    url: jdbc:postgresql://localhost:5432/storagedb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.anode.storage: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO
